.side_bar
  .side_bar__user-name
    .side_top__items
      .side_top__name masa
      .side_top__icons
        = icon('far', 'edit')
        = icon('fas', 'cog')
  .side_bar__group-list
    .side_middle__items
      .side_middle__name techcamp
      .side_middle__message まだメッセージがありません
