.chat_main {
  width: calc(100vw - 300px);
  &__group-info {
    background-color: #ffffff;
    height: 100px;
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
    .group_top__items{
      &-name{
        font-size: 20px;
        color: #333333;
        margin-top: 35px;
        margin-bottom: 15px;
        &-member{
          display: flex;
          font-size: 12px;
          color: #999999;
          &_list{
            font-size: 12px;
            color: #999999;
            list-style: none;
            padding-right: 5px;
          }
        }
      }
    }
  }
    a{
      font-size: 16px;
      width: 72px;
      line-height: 40px;
      margin: 28px 0;
      padding: 0 20px;
      color: #38aef0;
      border: #38aef0 solid 1px;
    }
  &__message-list {
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding-left: 40px;
    padding-top: 35px;
    overflow: scroll;
    .message_top__items{
      display: flex;
      &-name{
        font-size: 16px;
        color: #333333;
      }
      &-date{
        font-size: 12px;
        color: #999999;
      }
    }
    .message_top__message{
      font-size: 14px;
      color: #434A54;
      margin-bottom: 46px;
    }
  }
  &__message-form {
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 40px;
    .Form{
      display: flex;
      .message_bottom__items{
        position: relative;
        background-color: #ffffff;
        width: 100%;
        &-message{
          color: #999999;
          line-height: 50px;
          width: 100%;
          padding: 0 45px 0 10px;
        }
        .input-box__image{
          position: absolute;
          right: 10px;
          .fas{
            line-height: 50px;
            font-size: 25px;
          }
        }
      }
    }
    .Hidden {
      display: none;
    }
    .message_bottom__send{
      background-color: #38aef0;
      color: #fff;
      font-size: 16px;
      padding: 0 30px;
      margin-left: 15px;
      line-height: 50px;
    }
  }
}
a{
  text-decoration: none;
}