.side_bar {
  width: 300px;
  &__user-name {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    .side_top__items{
        height: 20px;
        width: 260px;
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-name{
            color: #ffffff;
            font-size: 16px;
            font-weight: bold;
        }
        &-icons{
            width: 60px;
            color: #ffffff;
            text-align: right;
        }
          .far{
              margin-right: 5px;
          }
    }
  }
  &__group-list{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
      .side_middle__items{
        margin: 0 20px;
        width: 260px;
        padding-top: 20px;
        &-name{
          font-size: 15px;
          font-weight: bold;
          color: #ffffff;
          margin-bottom: 5px;
        }
        &-message{
          font-size: 11px;
          font-weight: bold;
          margin-bottom: 40px;
          color: #ffffff;
        }
      }
  }
}
